body{
    margin: 0px;
    padding: 0px;
}

/* ///////////////////////////////////////// */

li{
    list-style: none;
}

.navlogo img{
    width: 70px;
}
.menu li a{
    text-decoration: none;
    margin-right: 50px;
    color: white;
    font-size: 20px;

}
.menu li a:hover{
    color: orangered;
}
.menu {
    display: flex;
    
}
.menubody{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px;
    height: 65px;
    color: black;
    background-color: black;
}





/* //////////////////////// */
.Chanelbody{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-image: url("https://t4.ftcdn.net/jpg/01/77/05/19/240_F_177051904_6ahDH96OHmSnDgtQPDTDxF5lAYVnDaLA.jpg");
    height: 573px;
    color: aliceblue;
    
}
.Apsara video{
    width: 325px;
    height: 573px;
}
.logo img{
    width: 400px;
}
.Chanel{
    font-size: 80px;
}
.since{
    font-size: 20px;
}
.Chanellogo{
    height: 500px;
    text-align: center;
}
.since{
    margin-top: -50px;
}

/* ///////////////////// */
.Jewelleryfullbody{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
    text-align: center;
    /* padding-left: 104px; */
    width: 81%;
    
}


.Costume {
    font-size: 80px;
    text-align: center;
    margin-top: 30px;

padding: 14px 20px;
    position: relative;
   display: flex;
   justify-content: center;

color:white;
font-weight:bold;
animation: myanimation 5s infinite;
}

@keyframes myanimation {
    0% {background-color: red;}
    25%{background-color:yellow;}
    50%{background-color:green;}
    75%{background-color:brown;}
    100% {background-color: red;}
}




.Jewelleryimg img{
    
    width: 300px;
    height: 250px;
    opacity: 0.7;
    transition: width 1s, height 1s, transform 1s;
}
.Jewelleryimg img:hover {

    opacity: 4;
  }

.Jewellerybody{
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    width: 381px;
    height: 405px;
    padding-bottom: 20px;
    border-radius: 15px;
    position: relative;
    display: inline-block;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
            }

 .Jewellerybody::after {
    /* content: ""; */
    border-radius: 5px;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 20%;
    height: 20%;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
    opacity: 0;
    -webkit-transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
    }

    .Jewellerybody:hover {
    -webkit-transform: scale(1.25, 1.25);
    transform: scale(1.10, 1.10);
    }

    .Jewellerybody:hover::after {
        opacity: 1;
    }


.Buy{
cursor:pointer;
position:relative;
padding: 10px 40px;
background:white;
font-size:28px;
border-top-right-radius:10px;
border-bottom-left-radius:10px;
transition:all 1s;
&:after,&:before{
content:" ";
width:10px;
height:10px;
position:absolute;
border :0px solid #fff;
transition:all 1s;
}
&:after{
top:-1px;
left:-1px;
border-top:5px solid black;
border-left:5px solid black;
}
&:before{
bottom:-1px;
right:-1px;
border-bottom:5px solid black;
border-right:5px solid black;
}
&:hover{
border-top-right-radius:0px;
border-bottom-left-radius:0px;
/* background:black; */
background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
color:white;
&:before,&:after{

width:100%;
height:100%;
border-color:white;
}
}
}


.Price{
    font-size: 28px;
}

.btn {
    width: 200px;
    height: 60px;
    border: none;
    outline: none;
    background: black;
    cursor: pointer;
    position: relative;
    border-radius: 10px;
}

.words {
    color: white;
    font-size: 1.4em;
    background-image: none;
    font-weight: bold;
}

.btn:before {
    content: "";
    background: linear-gradient(90deg,
        #ff2400,
        #e81d1d,
        #e8b71d,
        #e3e81d,
        #1de840,
        #1ddde8,
        #2b1de8,
        #dd00f3,
        #dd00f3,

        #ff2400,
        #e81d1d,
        #e8b71d,
        #e3e81d,
        #1de840,
        #1ddde8,
        #2b1de8,
        #dd00f3,
        #dd00f3);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 200%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(50% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.btn:hover:before {
    opacity: 1;
}

.btn:hover.btn:after {
    opacity: 1;
}

.btn:after {
    content: "";
    background: linear-gradient(90deg,
        #dd00f3,
        #dd00f3,
        #2b1de8,
        #1ddde8,
        #1de840,
        #e3e81d,
        #e8b71d,
        #e81d1d,
        #ff2400,

        #dd00f3,
        #dd00f3,
        #2b1de8,
        #1ddde8,
        #1de840,
        #e3e81d,
        #e8b71d,
        #e81d1d,
        #ff2400);
    position: absolute;
    top: calc(50% - 2px);
    left: -2px;
    background-size: 200%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(50% + 4px);
    animation: glowing-reverse 20s linear infinite;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

@keyframes glowing {
    0% {
    background-position: 0 0;
    }

    100% {
    background-position: 400% 0;
    }
}

@keyframes glowing-reverse {
    0% {
    background-position: 400% 0;
    }

    100% {
    background-position: 0 0;
    }
}

.CostumeJewelleryfullbody{
    background-color: rgb(238, 238, 238);
    /* padding-top: 20px; */
}

.Costumefullbody{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

     }

     /* footer///////////////////////////// */

     .footerfullbody{
         background-color: black;
         padding: 20px 30px;
     }

     .footerbottom{
         display: flex;
         justify-content: space-evenly;
         color: white;
     }

     .footerJewellery p a {
         text-decoration: none;
         font-size: 15px;
         color: white;
     }
     .footerJewellery p a:hover{
         color: orangered;
     }


     .footerContact p a {
         text-decoration: none;
         font-size: 15px;
         color: white;
     }
     .footerContact p a:hover{
         color: orangered;
     }
     .footersing{
         text-align: end;

     }
     .email{
         width: 200px;
         height: 15px;
         
         padding: 10px 20px;
         border-radius: 15px;
     }
     .emailbutton{
         padding: 10px 10px;
         background-color: rgb(209, 250, 2);
         color: rgb(0, 77, 84);
         border-radius: 15px;
     }

     .intrafooter{
         margin-top: 10px;
         margin-left: 10px;
         position: relative;
         
     }


     .facebookul {
     position: absolute;
     bottom: -105px;
     right: -193px;
     margin: 0;
     padding: 0;
     display: flex;
     transform: translate(-50%, -50%);
     }

     .facebookul li {
     list-style: none;
     margin: 0 15px;
     }

     .facebookul li a {
     position: relative; 
     display: block;
     width: 60px;
     height: 60px;
     text-align: center;
     line-height: 63px;
     background: #333;
     border-radius: 50%;
     font-size: 30px;
     color: #666;
     transition: .5s;
     }

     .facebookul li a::before {
     content: '';
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     border-radius: 50%;
     background: #ffee10;
     transition: .5s;
     transform: scale(.9);
     z-index: -1;
     }

     .facebookul li a:hover::before {
     transform: scale(1.1);
     box-shadow: 0 0 15px #ffee10;
     }

     .facebookul li a:hover {
     color: #ffee10;
     box-shadow: 0 0 5px #ffee10;
     text-shadow: 0 0 5px #ffee10;
     }
     .Copyright{
        text-align: center;
        margin-top: 20px;
        font-size: 15px;
        color: white;
     }
/* ///////////////////////// */
.sale img{
    width: 120px;
    height: 480px;
    display: block;
}

.Jewelleryimgg img{

width: 300px;
height: 264px;
opacity: 4;
transition: width 1s, height 1s, transform 1s;
}
.Jewelleryimgg img:hover {

opacity: 0.5;
}


.downloadfullbody{
display: flex;
justify-content: space-around;
text-align: center;
padding: 80px 35px;

}
.imagedownload{
width: 129px;
height: 148px;
padding: 20px;
}
.imgpara a{
text-decoration: none;
font-size: 45px;
color: black;
}

.imgpara a:hover{
color: orangered;
}


.downloadfull{
box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
width: 253px;
height: 276px;
padding-bottom: 20px;
border-radius: 15px;
position: relative;
display: inline-block;
background-color: #fff;
border-radius: 5px;
box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
border-radius: 5px;
-webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
   }

.downloadfull::after {
/* content: ""; */
border-radius: 5px;
position: absolute;
z-index: -1;
top: 0;
left: 0;
width: 20%;
height: 20%;
box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
opacity: 0;
-webkit-transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.downloadfull:hover {
-webkit-transform: scale(1.25, 1.25);
transform: scale(1.10, 1.10);
}

.downloadfull:hover::after {
opacity: 1;
}

.product{
font-size: 450%;
display: flex;
justify-content: center;
padding-top: 30px;
}

/* //////////////////// */
.map{
    width: 700px;
    height: 800px;
}
.contactfullbody{
    display: flex;
    padding: 60px;
    background-color: #00DBDE;
    background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);

}
.contact{
    font-size: 50px;
}
.name{
    width: 230px;
    height: 25px;
}
.message{
    width: 230px;
    height: 70px;
}
.send{
    font-size: 18px;
    padding: 7px 15px;
    border-radius: 5px;
    color: white;
    background-color: rgb(255, 137, 104);
}
.send:hover{
    background-color: red;
    
}


.sendfullbody{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: white;
    
}

.shoptotal{
    font-size: 22px;
}




@media screen and (max-width: 769px) {
    .Jewelleryfullbody {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        margin-top: 25px;
        margin-bottom: 29px;
        grid-gap: 60px;
    }
    .sale img{
        display: inline;
        width: 32%;
    }
    .map {
        width: 105%;
        height: 294px;
    }
    .contact{
        font-size: 38px;
    }
    .contactfullbody{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column
    }
    .Jewellerybody{
        width: 334px;
        margin-left: 9%;
    }
    .footerbottom{
       display: block;
    }
    .sendfullbody{
        padding: 10px;
        border-radius: 10px;
    }
    .facebookul{
        position: absolute;
        bottom: -138px;
        right: -195px;
     }
     .footerfullbody{
        padding: 113px 30px;
     }
     .downloadfullbody{
        display: flex;
        justify-content: space-around;
        text-align: center;
        flex-wrap:wrap;
        }
        .downloadfull{
            margin-top: 20px;
            margin-bottom: 20px;
        }

        .Chanelbody {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: nowrap;
            height: 311px;
        }
        .Apsara video{
            width: 96px;
        }
        .Chanellogo{
            height: 254px;
        }
        .logo img {
            width: 209px;
        }
        .product{
            font-size: 343%;
            padding-top: 53px;
        }
        .Chanel{
            font-size: 41px;
        }
        .since{
            margin-top: -33px;
        }
        
    .menubody{
        display: flex;
    align-items: center;
    padding: 5px 0px;
    height: 65px;
    color: black;
    background-color: black;
    justify-content: center;
    }
    .menu li a{
        margin-right: 2px;
        font-size: 14px;
    }

}





